@import url('http://fonts.googleapis.com/css?family=Pacifico');

.App {
  text-align: center;
  background-color: rgba(240, 248, 255, 0.62);
}

.header {
  height: 25%;
  background-color: rgba(174, 228, 255, 0.35);
  padding: 25px 0;
  z-index: -5;
}

.pageTitle {
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 100;
}

.markerPic {
  height: 150px;
  width: 100px;
  z-index: -2;
  position: absolute;
  top: 20px;
  left: 47%;
}

.map {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.footer {
  font-family: Gill Sans, sans-serif;
  font-weight: 100;
  padding: 20px 0;
  align-content: center;
  background-color: rgba(174, 228, 255, 0.35);

}

.footer a{
  text-decoration: none;
  color: #3c91ff;
}

.infoBox h3 {
  margin-bottom: 3px;
}

.infoBox .description {
  margin-top: 10px;
}