.loadingElement {
    height: 100%;
}

.containerElement {
    height: 500px;
    width: 100%;
}

.mapElement {
    height: 100%;
}

.infoBox h3 {
    margin: 0;
}

.infoBox .description {
    margin-top: 10px;
}